@page
@model Pierwsze_API.Pages.AddressModel
@{
}

<html>

    <p>Dane zapisane w sesji</p>

    @if (Model.Address != null)
    {
        <p>@Html.DisplayNameFor(model =>Model.Address.Street) : @Model.Address.Street</p>
        <p>@Html.DisplayNameFor(model => Model.Address.Number) : @Model.Address.Number</p>
        <p>@Html.DisplayNameFor(model => Model.Address.ZipCode): @Model.Address.ZipCode</p>
        <p>@Html.DisplayNameFor(model => Model.Address.City) : @Model.Address.City</p>
    }
    else
    { <p>Nie ma sesji</p>}
</html>